<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-for="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>统计年鉴</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/area.css">

    <script th:src="@{js/vue.js}" type="text/javascript"></script>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/echarts.js" type="text/javascript"></script>
    <script src="js/china.js" type="text/javascript"></script>

    <style>
        .map{
            float: left;
            height: 500px;
            width: 44%;
        }
        .bar{
            float: right;
            height: 500px;
            width: 44%;
        }
        .bar_top{
            float: left;
            height: 500px;
            width: 44%;
        }
        .pie_top{
            float: right;
            height: 500px;
            width: 44%;
        }
    </style>
</head>
<body>
<!--<div th:insert="~{navigetion :: nav}"></div>-->
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="/">主页</a></li>
                        <li role="presentation" class="active"><a href="/area">地区差异</a></li>
                        <li role="presentation"><a href="#">年度变化</a></li>
                        <li role="presentation"><a href="#">相关新闻</a></li>
                        <li role="presentation"><a href="#">生活分享</a></li>
                    </ul>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" th:if="${session.user!=null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <span th:text="${session.user.getName()}"></span>
                                <span class="caret"></span>
                                <!--                            <span th:text="${session.user.getName()}"></span>-->
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/questions">我的问题</a></li>
                                <li><a href="#">个人资料</a></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </li>
                        <li th:if="${session.user==null}">
                            <a href="https://github.com/login/oauth/authorize?client_id=7508138ae2bb78dee041&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="panel panel-default" id="header">
        <div class="panel-body">
            <div class="dataDiv">
                <label for="data">数据类型</label>
                <select id="data" v-model="dataSelected">
                    <option v-for="(item,i) in datatype" v-bind:value="item.value">{{item.name}}</option>
                </select>
            </div>

            <div class="yearDiv">
                <label for="year">年份</label>
                <select id="year" v-model="yearSelected">
                    <option v-for="(item,i) in yearSeries" v-bind:value="item.value">{{item.name}}</option>
                </select>
            </div>

            <a v-bind:href="'http://localhost:8888/area?dataSelected='+dataSelected+'&yearSelected='+yearSelected">确定</a>

        </div>
    </div>

<!--    <div>-->
<!--        <input type="text" th:each="areaData : ${areaDataList}" th:value="${areaData.data}">-->
<!--    </div>-->

    <div id="map" class="map"></div>
    <div id="bar" class="bar"></div>
    <div id="bar_top" class="bar_top"></div>
    <div id="pie_top" class="pie_top"></div>
</body>

<script type="text/javascript" th:inline="javascript">

    let maxValue=[[${maxValue.data}]];
    let minValue=[[${minValue.data}]];
    let title=[[${title}]];
    let unit=[[${unit}]]

    let chart1=echarts.init(document.getElementById('map'));
    let option1={
        title:{text:title,x:'center'},
        tooltip:{
            trigger:'item',
            formatter:'{b}<br/>{c}'+unit
        },
        toolbox:{
            show:true,
            orient:'vertical',
            left:'right',
            top:'center',
            feature:{
                dataView: {},
                restore:{},
                saveAsImage: {}
            }
        },
        visualMap:{
            min:maxValue,
            max:minValue,
            text:['高','低'],
            realtime: false,
            calculable: true,
            inRange: {
                color: ['lightskyblue', 'yellow', 'orangered']
            }
        },
        series:[
            {
                name:title,
                type:'map',
                map:'china',
                roam:false,
                label: {
                    show: true
                },
                data:[],
                nameMap:{
                    '西藏':'西藏自治区',
                    '青海':'青海省',
                    '宁夏':'宁夏回族自治区',
                    '海南':'海南省',
                    '甘肃':'甘肃省',
                    '贵州':'贵州省',
                    '新疆':'新疆维吾尔自治区',
                    '云南':'云南省',
                    '重庆':'重庆市',
                    '吉林':'吉林省',
                    '山西':'山西省',
                    '天津':'天津市',
                    '江西':'江西省',
                    '广西':'广西壮族自治区',
                    '陕西':'陕西省',
                    '黑龙江':'黑龙江省',
                    '内蒙古':'内蒙古自治区',
                    '安徽':'安徽省',
                    '北京':'北京市',
                    '福建':'福建省',
                    '上海':'上海市',
                    '湖北':'湖北省',
                    '湖南':'湖南省',
                    '四川':'四川省',
                    '辽宁':'辽宁省',
                    '河北':'河北省',
                    '河南':'河南省',
                    '浙江':'浙江省',
                    '山东':'山东省',
                    '江苏':'江苏省',
                    '广东':'广东省'
                }
            }
        ]
    }
    chart1.setOption(option1);

    let chart2=echarts.init(document.getElementById('bar'));
    let option2={
        title:{text:title,x:'center'},
        tooltip:{
            trigger:'item',
            formatter:'{b}<br/>{c}'+unit
        },
        grid:{
            bottom:'30%'
        },
        toolbox:{
            show:true,
            orient:'vertical',
            left:'right',
            top:'center',
            feature:{
                dataView: {},
                restore:{},
                saveAsImage: {},
                magicType: {
                    type:['line','bar']
                }
            }
        },
        xAxis: {
            type: 'category',
            axisLabel:{
                interval:0,
                formatter: function (value) {
                    return value.split("").join("\n");
                }
            }
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
                color: 'rgba(220, 220, 220, 0.8)'
            }
        }]
    };
    chart2.setOption(option2);

    let chart3=echarts.init(document.getElementById('bar_top'));
    let option3={
        title:{text:title,x:'center',subtext: 'TOP 10'},
        tooltip:{
            trigger:'item',
            formatter:'{b}<br/>{c}'+unit
        },
        grid:{
            left:'15%'
        },
        toolbox:{
            show:true,
            orient:'vertical',
            left:'right',
            top:'center',
            feature:{
                dataView: {},
                restore:{},
                saveAsImage: {},
                magicType: {
                    type:['line','bar']
                }
            }
        },
        yAxis: {
            type: 'category',
            axisLabel:{
                interval:0,
            }
        },
        xAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
                color: 'rgba(220, 220, 220, 0.8)'
            }
        }]
    };
    chart3.setOption(option3);

    let chart4=echarts.init(document.getElementById('pie_top'));
    let option4={
        title:{text:title,x:'center',subtext: 'TOP 10'},
        tooltip:{
            trigger:'item',
            formatter:'{b}<br/>{c}'+unit
        },
        legend: {
            // orient: 'vertical',
            // top: 'middle',
            bottom: 10,
            left: 'center',
            data: []
        },
        series: [{
            type: 'pie',
            center:['50%','50%'],
            selectedMode:'single',
            data:[]
        }],
        emphasis: {
            itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
    };
    chart4.setOption(option4);

    let dataSelected=[[${dataSelected}]];
    let yearSelected=[[${yearSelected}]];

    $.ajax({
        type: "GET",
        url:"/getData",
        data:"dataSelected="+dataSelected+"&yearSelected="+yearSelected,
        datatype: "json",
        success:function (result) {
            if(result){
                let name1=[];
                for(let i=0;i<result.length;i++){
                    name1[i]=result[i].name;
                }
                chart1.setOption({
                    series:[{
                        data:result
                    }]
                });
                chart2.setOption({
                    xAxis:{
                        data:name1
                    },
                    series:[{
                        type:'bar',
                        data:result
                    }]
                });
                console.log(name1);
                console.log(result);
            }

        }
    });

    $.ajax({
        type: "GET",
        url:"/getDataTop",
        data:"dataSelected="+dataSelected+"&yearSelected="+yearSelected,
        datatype: "json",
        success:function (result) {
            if(result){
                let name1=[];
                for(let i=0;i<result.length;i++){
                    name1[i]=result[i].name;
                }
                chart3.setOption({
                    yAxis:{
                        data:name1
                    },
                    series:[{
                        type:'bar',
                        data:result
                    }]
                });
                chart4.setOption({
                    legend:{
                        data:name1
                    },
                    series:[{
                        data:result
                    }]
                })
                console.log(result);
            }

        }
    });


</script>

<script>
    let vue_year=new Vue({
        el:"#header",
        data:{
            dataSelected:"",
            yearSelected:"",
            datatype:[
                {name:"地区生产总值",value:"total_value"},
                {name:"人口",value:"population"},
                {name:"人均生产总值",value:"per_value"},
                {name:"人均工资",value:"salary"},
                {name:"人均可支配收入",value:"dis_income"},
                {name:"人均消费支出",value:"consumption"},
                {name:"高校数",value:"total_school"},
                {name:"教育经费",value:"edu_fee"}
                ],
            // yearset:{
            //     "地区生产总值":["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"],
            //     "人口":["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"],
            //     "人均生产总值":["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"],
            //     "人均工资":["2010","2011","2012","2013","2014","2015","2016","2017","2018"],
            //     "人均可支配收入":["2013","2014","2015","2016","2017","2018","2019"],
            //     "人均消费支出":["2010","2011","2012","2013","2014","2015","2016"],
            //     "高校数":["2010","2011","2012","2013","2014","2015","2016","2017","2018"],
            //     "教育经费":["2013","2014","2015","2016","2017"],
            // },
            yearSeries:[
                {name:"2010",value:"y2010"},
                {name:"2011",value:"y2011"},
                {name:"2012",value:"y2012"},
                {name:"2013",value:"y2013"},
                {name:"2014",value:"y2014"},
                {name:"2015",value:"y2015"},
                {name:"2016",value:"y2016"},
                {name:"2017",value:"y2017"},
                {name:"2018",value:"y2018"},
                {name:"2019",value:"y2019"}
            ],
        },
        created(){
            this.yearSelected=this.yearSeries[this.yearSeries.length-1].value;
            this.dataSelected=this.datatype[0].value;
        },
        methods:{
            submit:function () {
                let dataSelected=this.dataSelected;
                let yearSelected=this.yearSelected;
                $.ajax({
                    type: "GET",
                    url:"/area",
                    data:"dataSelected="+dataSelected+"&yearSelected="+yearSelected,
                    datatype: "json"
                });
            }
        }
    })
</script>
</html>