<!DOCTYPE html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" xmlns:v-for="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>统计年鉴</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="dependencies/bootstrap/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="dependencies/fontawesome/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="dependencies/flaticon/flaticon.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="dependencies/owl.carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="dependencies/owl.carousel/css/owl.theme.default.min.css">
    <!-- Animated Headlines CSS -->
    <link rel="stylesheet" href="dependencies/jquery-animated-headlines/css/jquery.animatedheadline.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="dependencies/magnific-popup/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="dependencies/animate.css/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="dependencies/meanmenu/css/meanmenu.min.css">
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

</head>

<body class="sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- ScrollUp Start Here -->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="fas fa-angle-double-up"></i>
</a>
<!-- ScrollUp End Here -->
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">

    <!--=====================================-->
    <!--=            Header Start           =-->
    <!--=====================================-->
    <header class="header">
        <div id="rt-sticky-placeholder"></div>
        <div id="header-menu" class="header-menu menu-layout2">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-2">
                        <div class="logo-area">
                            <a href="/" class="temp-logo">
                                <img src="media/logo.png" alt="logo" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 d-flex justify-content-end">
                        <nav id="dropdown" class="template-main-menu">
                            <ul>
                                <li>
                                    <a href="/" class="btn-outline-dark">主页</a>
                                </li>
                                <li>
                                    <a href="/area" class="btn-outline-dark">地区差异</a>
                                </li>
                                <li>
                                    <a href="/year" class="btn-outline-dark">年度变化</a>
                                </li>
                                <li>
                                    <a href="/websites" class="btn-outline-dark">相关网站</a>
                                </li>
                                <li>
                                    <a href="/news" class="btn-outline-dark">相关新闻</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 d-flex justify-content-end">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="display: contents">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown" th:if="${session.username!=null}">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">
                                        <span th:text="${session.username}"></span>
                                        <span class="caret"></span>
                                        <!--                            <span th:text="${session.user.getName()}"></span>-->
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/manage">管理数据库</a></li>
                                        <li><a href="/logout">退出登录</a></li>
                                    </ul>
                                </li>
                                <li th:if="${session.username==null}">
                                    <a href="/login">登录</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--=====================================-->
    <!--=        Inner Banner Start         =-->
    <!--=====================================-->
    <section class="inner-page-banner" data-bg-image="media/banner/banner1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-area">
                        <h1>相关网站</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=          Product Start         =-->
    <!--=====================================-->
    <section class="product-wrap-layout1 bg-accent">
        <div class="container">
            <div class="row gutters-20">
                <div class="col-xl-3 col-lg-4 sidebar-break-md sidebar-widget-area" id="accordion1">
                    <div class="widget-lg widget-light-bg widget-category">
                        <h3 class="widget-border-title">中央统计网站</h3>
                        <div class="category-list">
                            <ul>
                                <li><a href="http://www.stats.gov.cn/">国家统计局</a></li>
                                <li><a href="http://www.nssc.stats.gov.cn/">中国统计学会</a></li>
                                <li><a href="http://www.stats.gov.cn/ztjc/tjzdgg/hsyjh1/">核算研究会</a></li>
                                <li><a href="http://www.stats.gov.cn/ztjc/tjzdgg/trccxh/">中国投入产出学会</a></li>
                                <li><a href="http://data.stats.gov.cn/">国家数据</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 sidebar-break-md sidebar-widget-area" id="accordion2">
                    <div class="widget-lg widget-light-bg widget-category">
                        <h3 class="widget-border-title">地方统计网站</h3>
                        <div class="category-list">
                            <ul>
                                <li><a href="http://tjj.beijing.gov.cn/">北京</a></li>
                                <li><a href="http://stats.tj.gov.cn/">天津</a></li>
                                <li><a href="http://tjj.hebei.gov.cn/">河北</a></li>
                                <li><a href="http://tjj.shanxi.gov.cn/">山西</a></li>
                                <li><a href="http://tj.nmg.gov.cn/">内蒙古</a></li>
                                <li><a href="http://tjj.ln.gov.cn/">辽宁</a></li>
                                <li><a href="http://tjj.jl.gov.cn/">吉林</a></li>
                                <li><a href="http://www.hlj.stats.gov.cn/">黑龙江</a></li>
                                <li><a href="http://tjj.sh.gov.cn/">上海</a></li>
                                <li><a href="http://tj.jiangsu.gov.cn/index.html">江苏</a></li>
                                <li><a href="http://tjj.zj.gov.cn/">浙江</a></li>
                                <li><a href="http://tjj.ah.gov.cn/">安徽</a></li>
                                <li><a href="http://tjj.fujian.gov.cn/">福建</a></li>
                                <li><a href="http://www.jxstj.gov.cn/Index.shtml">江西</a></li>
                                <li><a href="http://tjj.shandong.gov.cn/">山东</a></li>
                                <li><a href="http://www.ha.stats.gov.cn/">河南</a></li>
                                <li><a href="http://www.stats-hb.gov.cn/">湖北</a></li>
                                <li><a href="http://tjj.hunan.gov.cn/">湖南</a></li>
                                <li><a href="http://stats.gd.gov.cn/">广东</a></li>
                                <li><a href="http://tjj.gxzf.gov.cn/">广西</a></li>
                                <li><a href="http://stats.hainan.gov.cn/">海南</a></li>
                                <li><a href="http://tjj.cq.gov.cn/">重庆</a></li>
                                <li><a href="http://tjj.sc.gov.cn/">四川</a></li>
                                <li><a href="http://stjj.guizhou.gov.cn/">贵州</a></li>
                                <li><a href="http://stats.yn.gov.cn/">云南</a></li>
                                <li><a href="http://tjj.xizang.gov.cn/">西藏</a></li>
                                <li><a href="http://tjj.shaanxi.gov.cn/">陕西</a></li>
                                <li><a href="http://tjj.gansu.gov.cn/">甘肃</a></li>
                                <li><a href="http://tjj.qinghai.gov.cn/">青海</a></li>
                                <li><a href="http://tj.nx.gov.cn/">宁夏</a></li>
                                <li><a href="http://www.xjtj.gov.cn/">新疆</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 sidebar-break-md sidebar-widget-area" id="accordion3">
                    <div class="widget-lg widget-light-bg widget-category">
                        <h3 class="widget-border-title">国外统计网站</h3>
                        <div class="category-list">
                            <ul>
                                <li><a href="https://www.bea.gov/">美国</a></li>
                                <li><a href="http://www.stat.go.jp/">日本</a></li>
                                <li><a href="https://www.destatis.de/DE/Startseite.html">德国</a></li>
                                <li><a href="http://www.insee.fr/">法国</a></li>
                                <li><a href="http://www.statistics.gov.uk/default.asp">英国</a></li>
                                <li><a href="http://www.istat.it/">意大利</a></li>
                                <li><a href="http://www.statcan.gc.ca/">加拿大</a></li>
                                <li><a href="http://www.gks.ru/">俄罗斯</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 sidebar-break-md sidebar-widget-area" id="accordion4">
                    <div class="widget-lg widget-light-bg widget-category">
                        <h3 class="widget-border-title">国际组织网站</h3>
                        <div class="category-list">
                            <ul>
                                <li><a href="http://www.un.org/zh/">联合国</a></li>
                                <li><a href="http://www.wto.org/">世贸组织</a></li>
                                <li><a href="http://www.fao.org/">粮农组织</a></li>
                                <li><a href="http://www.ilo.org/global/lang--en/index.htm">劳工组织</a></li>
                                <li><a href="http://en.unesco.org/">教科文组织</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pagination-layout1">
        <div class="btn-prev">
            <a href="/year"><i class="fas fa-angle-double-left"></i>Previous</a>
        </div>
        <div class="page-number">
            <a href="/">1</a>
            <a href="/area">2</a>
            <a href="/year">3</a>
            <a href="/websites" class="active">4</a>
            <a href="/news">5</a>
        </div>
        <div class="btn-next">
            <a href="/news">Next<i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>

    <!--=====================================-->
    <!--=       Footer Start           	=-->
    <!--=====================================-->
    <footer>
        <div class="footer-top-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-logo">
                                <img src="media/logo.png" alt="logo">
                            </div>
                            <p>这是一个数据统计可视化网站，主要展示中国近年来的统计数据，以及相关的新闻和网站</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">
                                <h3>网站制作人</h3>
                            </div>
                            <div class="footer-menu-box">
                                <ul>
                                    <li><a href="#">Silence Li</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">
                                <h3>所属单位</h3>
                            </div>
                            <div class="footer-menu-box">
                                <ul>
                                    <li><a href="#">武汉大学</a></li>
                                    <li><a href="#">遥感信息工程学院</a></li>
                                    <li><a href="#">地理信息工程GIS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">
                                <h3>联系方式</h3>
                            </div>
                            <div class="footer-menu-box">
                                <ul>
                                    <li><a href="#">QQ：2118656521</a></li>
                                    <li><a href="#">邮箱：</a></li>
                                    <li><a href="#">2118656521@qq.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright-text">
                            Copyright &copy; Wuhan University All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--=====================================-->
    <!--=       Modal Start           	 	=-->
    <!--=====================================-->
    <div class="modal fade modal-location" id="modal-location" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times" aria-hidden="true"></span>
                </button>
                <div class="location-list">
                    <h4 class="item-title">Location</h4>
                    <ul>
                        <li><a href="#">California</a></li>
                        <li><a href="#">Kansas</a></li>
                        <li><a href="#">Louisiana</a></li>
                        <li><a href="#">New Jersey</a></li>
                        <li><a href="#">New York</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-location" id="modal-category" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times" aria-hidden="true"></span>
                </button>
                <div class="location-list">
                    <h4 class="item-title">Category</h4>
                    <ul>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category5.png" alt="icon"></span>Business &amp; Industry</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category7.png" alt="icon"></span>Cars &amp; Vehicles</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category14.png" alt="icon"></span>Electronics</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category4.png" alt="icon"></span>Health &amp; Beauty</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category18.png" alt="icon"></span>Hobby, Sport &amp; Kids</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category8.png" alt="icon"></span>Home Appliances</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category6.png" alt="icon"></span>Jobs</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category12.png" alt="icon"></span>Others</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category11.png" alt="icon"></span>Pets &amp; Animals</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category3.png" alt="icon"></span>Property</a>
                        </li>
                        <li>
                            <a href="#"><span class="item-icon"><img src="media/category/category1.png" alt="icon"></span>Services</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Jquery Js -->
<script src="dependencies/jquery/js/jquery.min.js"></script>
<!-- Popper Js -->
<script src="dependencies/popper.js/js/popper.min.js"></script>
<!-- Bootstrap Js -->
<script src="dependencies/bootstrap/js/bootstrap.min.js"></script>
<!-- Waypoints Js -->
<script src="dependencies/waypoints/js/jquery.waypoints.min.js"></script>
<!-- Counterup Js -->
<script src="dependencies/jquery.counterup/js/jquery.counterup.min.js"></script>
<!-- Owl Carousel Js -->
<script src="dependencies/owl.carousel/js/owl.carousel.min.js"></script>
<!-- ImagesLoaded Js -->
<script src="dependencies/imagesloaded/js/imagesloaded.pkgd.min.js"></script>
<!-- Isotope Js -->
<script src="dependencies/isotope-layout/js/isotope.pkgd.min.js"></script>
<!-- Animated Headline Js -->
<script src="dependencies/jquery-animated-headlines/js/jquery.animatedheadline.min.js"></script>
<!-- Magnific Popup Js -->
<script src="dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<!-- ElevateZoom Js -->
<script src="dependencies/elevatezoom/js/jquery.elevateZoom-2.2.3.min.js"></script>
<!-- Bootstrap Validate Js -->
<script src="dependencies/bootstrap-validator/js/validator.min.js"></script>
<!-- Meanmenu Js -->
<script src="dependencies/meanmenu/js/jquery.meanmenu.min.js"></script>
<!-- Google Map js -->
<!--    <script src="https://ditu.google.cn/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>-->
<!-- Site Scripts -->
<script src="assets/js/app.js"></script>


</body>

</html>